html {
    height: 100%;
    width: 100%;
}

body {
  color: #777;
  line-height: 2;
  font-family: 'Lucida Sans Unicode',  sans-serif;
}
  .parallax_container {
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: right;
      height: 100vh;

  }

#parallax_container1 {
  background-image: url('bromleys colour.jpg');
}

#logo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 75vw;
  position: absolute;
}

#scroll {
  width: 5%;
  min-width: 50px;
  left: 50%;
  position: absolute;
  bottom: 20px;
}

#scroll:hover {
  transform: scale(1.2);
}

#parallax_container2 {
  background-image: url('https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/13575923_1748630248685754_8672281502123516648_o.jpg?oh=d92d721f28cfa6a879006790fa0fe4c2&oe=5A30C0D5');

}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
}

#about h3 {
    color: #111;
    margin-bottom: 30px;
}

#gigs {
  padding-top: 50px;
  background-color: #333;
  color: white;
}

#gigList a {
  color: #777;
}
