html {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  color: black;
  line-height: 2;
  font-family: 'Spectral', serif;

  font-size: 16;
}

#soundcloud {
  left: 800px;
  top: 0;
  position: absolute;
}

.parallax_container {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

#parallax_container1 {
  background-image: url('trees.png');
  background-position: bottom;
}



#trees {
  width: 100%;
  float: bottom;
  top: 285px;
  position: relative;
}

#logo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 75vw;
  position: absolute;
  z-index: 1;
}

#scroll {
  width: 5%;
  min-width: 50px;
  left: 50%;
  position: absolute;
  bottom: 20px;
}

#scroll:hover {
  transform: scale(1.2);
}



#about {
  padding-top: 50px;
  padding-bottom: 50px;

}

#gigs {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #333;
  color: white;
}

#gigList a {
  color: black;
  text-decoration: none;
}

#parallax_container2 {
  background-image: url('bromleys colour.jpg');
  height: 90vh;
  background-position: right top;
  position: relative;
}

#quote {
  width: 70vw;
  top: 10;
  left: 0;
  position: absolute;
}

#gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #333;
  color: white;
}

#grid {
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    overflow-x: hidden;
    margin: 0;
}

.grid_list {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box; /*must be border box so that the border does not make images exceed 100% width*/
    border: 2px white solid;
    margin: 0;
    cursor: pointer;
}

@media (min-width: 768px) {
.grid_list {
    float: left;
    width: 50%;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box; /*must be border box so that the border does not make images exceed 100% width*/
    border: 2px white solid;
    margin: 0;
    cursor: pointer;
}
}

@media (min-width: 992px) {
.grid_list {
    float: left;
    width: 33.333%;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box; /*must be border box so that the border does not make images exceed 100% width*/
    border: 2px white solid;
    margin: 0;
    cursor: pointer;
}
}

.image_holder {
  height: 100%;
  display: flex;
}

.grid_photo {
    width: 125%;  /* >100% so the longer landscape photos fill the whole tile*/
    align-self: center;
}

.grid_photo:hover {
  transform: scale(1.2);
}

#grid_photo_big_wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: black;
  overflow: hidden;
  display: none;
  z-index: 3;
}

.grid_photo_big {
  position:absolute;
  left: 50%;
  top: 50%;
  max-height: 100%;
  max-width: 100%;
}

#close {
    position: relative;
    top: 2%;
    left: 95%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#close:hover,
#close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#videos {
  padding-top: 50px;
}
